.not-found-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://res.cloudinary.com/dlpgowt5s/image/upload/v1671115965/iPad_Pro_12.9__-_1_kfrkdy.png');
  background-size: cover;
}

@media screen and (min-width: 767px) {
  .not-found-container {
    background-image: url('https://res.cloudinary.com/dlpgowt5s/image/upload/v1671115965/iPad_Pro_12.9__-_1_kfrkdy.png');
  }
}

.not-found-image {
  width: 300px;
}

@media screen and (min-width: 767px) {
  .not-found-image {
    width: 500px;
  }
}
