.match-card {
  width: 47%;
  max-width: 200px;
  background-color: #0f172a;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: 35px;
  margin-top: 15px;
  margin-bottom: 25px;
  box-shadow: 5px 12px 42px #00000080;
  position: relative;
  animation: 0.5s popup forwards linear;
}

@keyframes popup {
  0% {
    top: -5vmin;
  }

  50% {
    top: 5vmin;
  }

  100% {
    top: 0vmin;
  }
}

@media screen and (min-width: 767px) {
  .match-card {
    max-width: 300px;
    margin-bottom: 70px;
  }
}

.logo-container {
  min-height: 70px;
  position: absolute;
  background-color: #fdfdfd;
  box-shadow: 5px 15px 30px 0px #ffffff30;
  border-radius: 100%;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -7vmin;
}

.competing-team-logo {
  width: 55%;
  height: 60%;
}

@media screen and (min-width: 767px) {
  .logo-container {
    width: 90px;
    height: 90px;
  }
}

@media screen and (min-width: 1500px) {
  .logo-container {
    width: 90px;
    height: 90px;
  }
}

.competing-team-name {
  font-weight: 500;
  font-family: 'Bree Serif';
  font-size: 17px;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .competing-team-name {
    font-size: 22px;
    width: 180px;
  }
}

.game-result {
  font-weight: 500;
  font-family: 'Bree Serif';
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .game-result {
    font-size: 15px;
    width: 200px;
  }
}

.match-status {
  font-family: 'Bree Serif';
  font-weight: 500;
  font-size: 16px;
}

@media screen and (min-width: 767px) {
  .match-status {
    font-size: 24px;
  }
}

.won {
  color: #18ed66;
}

.lost {
  color: #e31a1a;
}
