.RCB {
  background-image: url('https://res.cloudinary.com/dlpgowt5s/image/upload/v1671035362/Rectangle_uxxbfs.png');
  background-size: cover;
}

.KKR {
  background-image: url('https://res.cloudinary.com/dlpgowt5s/image/upload/v1671036683/kkr-4_ctoyug.png');
  background-size: cover;
}

.KXP {
  background-image: url('https://res.cloudinary.com/dlpgowt5s/image/upload/v1671037117/kxp-2_zkwfdj.png');
  background-size: cover;
}

.CSK {
  background-image: url('https://res.cloudinary.com/dlpgowt5s/image/upload/v1671035839/csk-2_bthmwd.png');
  background-size: cover;
}

.RR {
  background-image: url('https://res.cloudinary.com/dlpgowt5s/image/upload/v1671037248/rr_fawule.png');
  background-size: cover;
}

.MI {
  background-image: url('https://res.cloudinary.com/dlpgowt5s/image/upload/v1671037842/mi-4_eko00v.png');
  background-size: cover;
}

.SH {
  background-image: url('https://res.cloudinary.com/dlpgowt5s/image/upload/v1671038574/srh-3_lkfy42.png');
  background-size: cover;
}

.DC {
  background-image: url('https://res.cloudinary.com/dlpgowt5s/image/upload/v1671038185/dc_qfrmvt.png');
  background-size: cover;
}

.team-matches-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-match-details {
  width: 90%;
}

@media screen and (min-width: 767px) {
  .team-match-details {
    width: 75%;
  }
}

.team-banner {
  width: 100%;
  border-radius: 6px;
}

/* Latest Matches Container */

.latest-match-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
