.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 767px) {
  .header {
    flex-direction: row;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 0;
  }
}

.form-description {
  margin: 0;
  margin-bottom: 20px;
  align-self: flex-start;
  font-size: 10px;
  color: #ffffff;
  font-family: 'Roboto';
}

@media screen and (min-width: 767px) {
  .form-description {
    align-self: flex-end;
    margin-bottom: 30px;
    font-size: 12px;
  }
}

.latest-matches-heading {
  font-family: 'Bree Serif';
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 15px;
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  .latest-matches-heading {
    font-size: 30px;
  }
}

@media screen and (min-width: 992px) {
  .latest-matches-heading {
    font-size: 36px;
  }
}

.match-details-body {
  display: flex;
  flex-direction: column;
  font-family: 'Bree Serif';
  color: #ffffff;
  width: 100%;
  background-color: #0f172a;
  border-radius: 10px;
  box-shadow: 5px 12px 42px #00000080;
  animation: slide 0.5s forwards linear;
}

@keyframes slide {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 767px) {
  .match-details-body {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
  }
}

/* Results */

.match-result-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .match-result-container {
    width: 36%;
  }
}

.result-details {
  width: 70%;
}

@media screen and (min-width: 768px) {
  .result-details {
    width: 80%;
  }
}

@media screen and (min-width: 576px) {
  .result-details {
    width: 100%;
  }
}

.opponent-team-name {
  font-size: 20px;
  font-weight: 500;
}

.match-date {
  font-size: 18px;
}

.match-venue {
  font-size: 10px;
  width: 100%;
}

.match-result {
  font-size: 12px;
  color: #97b1e7;
}

.opponent-logo {
  width: 65px;
}

/* BreakPoints */

@media screen and (min-width: 490px) and (max-width: 991px) {
  .opponent-logo {
    width: 100px;
  }

  .opponent-team-name {
    font-size: 18px;
  }

  .match-date {
    font-size: 17px;
  }

  .match-venue {
    font-size: 12px;
  }

  .match-result {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .opponent-logo {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .opponent-team-name {
    font-size: 28px;
  }

  .match-date {
    font-size: 26px;
  }

  .match-venue {
    font-size: 16px;
  }

  .match-result {
    font-size: 18px;
  }

  .opp-logo {
    width: 190px;
  }
}

.opp-logo {
  display: none;
}

@media screen and (min-width: 767px) {
  .opp-logo {
    display: block;
  }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  .opp-logo {
    width: 150px;
  }
}

.separator {
  background-color: #475569;
  width: 100%;
  border: 0;
  height: 1.5px;
}

@media screen and (min-width: 767px) {
  .separator {
    display: none;
  }
}

/* Innings Details Container */

.innings-details-container {
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .innings-details-container {
    width: 34%;
  }
}

.details-heading {
  font-weight: 500;
  font-size: 18px;
  color: #97b1e7;
}

.innings-details {
  font-size: 14px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (min-width: 767px) {
  .details-heading {
    text-align: end;
  }

  .innings-details {
    text-align: end;
    width: 100%;
  }
}

/* BreakPoints */

@media screen and (min-width: 490px) and (max-width: 991px) {
  .details-heading {
    font-size: 20px;
  }
  .innings-details {
    font-size: 13px;
  }
}

@media screen and (min-width: 992px) {
  .details-heading {
    font-size: 24px;
  }

  .innings-details {
    font-size: 16px;
  }

  .innings-details-container {
    padding-left: 0;
  }
}

/* Form Container */

.form-heading {
  align-self: flex-end;
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 22px;
  font-weight: 500;
  margin-top: 5px;
}

@media screen and (min-width: 767px) {
  .form-heading {
    font-size: 28px;
  }
}
.form-container {
  list-style-type: none;
  padding: 0;
  display: flex;
  width: 100%;
  max-width: 380px;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 450px) {
  .form-container {
    max-width: 280px;
  }
}

/* Recent Match Container */

.recent-matches-container {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-top: 40px;
}
